.page {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.02;

  color: #fff;
  background-color: #000;

  height: 100vh;
}

@media screen and (max-width: 1024px) {
  .page {
    padding: 0;
  }
}
